@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
    display: flex;
    min-height: 100vh;
    
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 95vh;

}

.menu {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.menu ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.menu li {
    margin-bottom: 20px;
    width: 100%;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #0056b3;
}

.conteudo {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campo {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #007BFF;
}

.botao {
    width: 30%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #007BFF;
}

#info{
    margin-top: 15px;
    max-height: 50vh; 
    overflow-y: auto; 
}

.div-botao{
    display: flex;
    justify-content: space-around;
}

.item-container{
    margin-bottom: 10px;
}